body {
    min-width: 900px;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto", "Arial", sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: 500;
}

h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
}

/*Хедер*/

.main-header {
    min-height: 83px;
    position: relative;
    background: #eeeeee;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 140px;
    height: 56px;
    margin-right: 159px;
    margin-left: 1px;
    margin-top: 27px;
}

.navigation {
    float: left;
    width: 460px;
    min-height: 83px;
}

.navigation ul {
    margin: 0;
    padding: 54px 0 0 0;
    list-style: none;
    font-size: 0;
}

.navigation li {
    display: inline-block;
    vertical-align: top;
    margin: 0px 23px 0px 23px;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    vertical-align: top;
}

.navigation a {
    display: block;
    color: #000000;
    text-decoration: none;
}

.navigation a:hover {
    color: #fb565a;
}

.navigation a:active {
    color: #000000;
    opacity: 0.4;
}

.navigation .active {
    position: relative;
    background: none;
}

.navigation .active::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #fb565a;
}

.user-block {
    float: right;
    margin: 0px 1px 0px 0px;
    max-width: 140px;
    min-height: 83px;
}

.user-block a:hover {
    color: #fb565a;
}

.user-block a:active {
    color: #000000;
    opacity: 0.4;
}

.basket {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 54px;
    padding-left: 0px;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
}

.basket::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -27px;
    width: 16px;
    height: 16px;
    background: url("../img/sprites/spritesheet.png");
    background-position: -5px -333px;
    opacity: 0.4;
}

.basket:hover::before {
  background: url("../img/sprites/spritesheet.png");
  background-position: -5px -4px;
  opacity: 1;
}

.basket:active::before {
  background: url("../img/sprites/spritesheet.png");
  background-position: -5px -333px;
  opacity: 0.25;
}

/*Слайдер*/

.wrapper-slider {
    padding-top: 42px;
    background: #eeeeee;

}

.slider {
    position: relative;
    width: 880px;
    height: 310px;
    margin: 0px auto;
    overflow: hidden;
}

.slider-controls {
    position: absolute;
    bottom: 94px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -110px;
    text-align: center;
    z-index: 100;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    vertical-align: top;
    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}



.slider-controls .active {
    background: #c1c1c1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider input[type="radio"] {
    display: none;
}

.slide-text {
    width: 480px;
    padding: 30px 0;
    color: #283136;
}

.slide-title {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
}

.slide p {
  font-weight: 500;
  margin: 19px 0 27px;
  color: #283136;
}

.slide .btn {

    padding: 10px 70px;
}

.slide:nth-child(1) {
    background: url("../img/index-slider-img-1.png") no-repeat;
    background-position: 100% 10px;
}

.slide:nth-child(2) {
    background: url("../img/index-slider-img-2.png") no-repeat;
    background-position: 100% 10px;
}

.slide:nth-child(3) {
    background: url("../img/index-slider-img-3.png") no-repeat;
    background-position: 100% 10px;
}

.slide {
  display: none;
}

/*Кнопки*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 10px 40px 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    background: #fb565a;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background: #d6494d;
}

.btn:active {
    background: #b63538;
    box-shadow: inset 0px 3px 0 0px #9b2d30;
}

.btn-slider {
    padding: 10px 70px;
}

.btn-services-apps {
    background: #00ca74;
}

.btn-services-apps:hover {
    background: #01a25e;
}

.btn-services-apps:active {
    background: #009053;
    box-shadow: inset 0px 3px 0 0px #007b47;
}

.btn-services-present {
    background: #efc84a;
}

.btn-services-present:hover {
    background: #d6ae2c;
}

.btn-services-present:active {
    background: #c09b24;
    box-shadow: inset 0px 3px 0 0px #a3841f;
}

.contact-btn {
    margin: 13px 0px 0 3px;
    padding: 10px 54px 10px 54px;
}

.btn-catalog {
    width: 134px;
    height: 14px;
    padding-top: 14px;
    padding-left: 6px;
    padding-right: 0;
    font-size: 18px;
    line-height: 8.56px;
}

.btn-filter-show {
  width: 155px;
  height: 38px;
  margin-top: 3px;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background: #f1f1f1;
}

.btn-filter-show:hover {
    background: #e5e5e5;
}

.btn-filter-show:active {
    background: #d5d5d5;
    box-shadow: inset 0px 3px 0 0px #b5b5b5;
}

/*Блок сервисов*/

.services {
    padding-bottom: 80px;
    background: #ffffff;
    min-height: 380px;
    border-bottom: 2px solid #eeeeee;
}

.services-item {
    float:left;
    width: 240px;
    min-height: 300px;
    margin-top: 80px;
    margin-right: 80px;
}

.services-item:last-child {
    float: right;
    width: 240px;
    margin-right: 0px;
}

.services-item-pic {
    height: 124px;
    margin-bottom: 23px
}
.services-item h2 {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.services-item-desc p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 25px;
    color: #283136;
}

/*Блок о компании*/

.about-desc {
    width: 880px;
    margin-bottom: 12px;
}

.description {
    float: left;
    width: 620px;
}

.about {
    min-height: 375px;
    padding-top: 34px;
    padding-bottom: 54px;
    background: #ffffff;
    border-bottom: 2px solid #eeeeee;
}

.description-title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 18px;
}

.about-logo {
    float: right;
    padding: 0px 0px 0px 12px;
    margin-top: 24px;
    width: 232px;
    text-align: center;
}

.logo-year {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 8.56px;
    text-transform: uppercase;
    padding-right: 4px;
    padding-top: 28px;
}

.logo-year::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 65px;
    margin-top: 21px;
    height: 2px;
    background-color: #eeeeee;
}

.logo-year::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0px;
    width: 65px;
    margin-top: 21px;
    height: 2px;
    background-color: #eeeeee;
}


.list-headline {
    text-transform: uppercase;
    padding-bottom: 5px;
}

.services-left {
    float: left;
    width: 620px;
    margin-right: 20px;
    color: #283136;
}

.services-right {
    float: right;
    width: 240px;
    color: #283136;
}

.services-list {
    padding-left: 37px;
}

.services-list li {
    position: relative;
    list-style: none;
    margin-bottom: 22px;
}

.services-list li:last-child {
    margin-bottom: 0px;
}

.services-list li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

/*Блок с клиентами*/

.clients {
    padding: 10px 0px 31px;
    margin-bottom: 85px;
    border-bottom: 2px solid #eeeeee;
}

.clients-logo {
    float: left;
    height: 125px;
    width: 220px;
    margin-right: 100px;
    text-align: center;
    background: #ffffff;
    line-height: 150px;
}
.clients-logo img {
    vertical-align: middle;
    opacity: 0.2;
}

.clients-logo img:hover {
    opacity: 1;
}

.clients-logo:nth-child(3n) {
    margin-right: 0px;
    width: 230px;
}

/*Конец блока с клиентами*/

/*Заголовок Catalog*/

.wrapper-title {
    min-height: 245px;
    background: #eeeeee;
    margin-bottom: 80px;
}

.title-page {
    padding-top: 65px;
}

.title-page h1 {
    margin: 0;
    text-align: center;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
}

/*Фильтры сайдбара*/

.filter {
    float: left;
    width: 240px;
}


.range-filter {
    width: 240px;
    margin: 19px auto;
}

.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
    text-transform: uppercase;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: "Roboto", "Verdana", sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 6px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
}

fieldset {
    border: none;
    margin: 0 0 31px 0;
    padding: 0px;
}
legend {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;

}

input[type="checkbox"] + label,
input[type="radio"] + label {
    display: block;
    position: relative;
    margin: 21px 15px 19px 0;
    line-height: 20px;
    padding-left: 35px;
    color: #283136;
    cursor: pointer;
}

input[type="checkbox"] + label:hover,
input[type="radio"] + label:hover {
    color: #000000;
}

input[type="radio"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    width: 18px;
    height: 18px;
    border: 3px solid #c1c1c1;
    border-radius: 50%;
}

input[type="radio"] + label:hover::before {
    border: 3px solid #b5b5b5;
}


input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 8px;
    background: #c1c1c1;
    border-radius: 50%;
}

input[type="radio"] + label:hover::after {
    background: #b5b5b5;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    margin: 21px 15px 21px 0;
    line-height: 20px;
    padding-left: 35px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    width: 24px;
    height: 24px;
    background: url("../img/sprites/spritesheet.png");
    background-position: -5px -384px;
}


input[type="checkbox"]:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 27px;
    top: -2px;
    left: -1px;
    background: url("../img/sprites/spritesheet.png");
    background-position: -4px -417px;
    background-color: #ffffff;
}

.catalog {
    float: right;
    width: 570px;
    background: #ffffff;
    margin-bottom: 80px;
}

.filter-list {
    margin: 0;
    padding: 0;
}

.catalog-filter {
    position: relative;
    width: 560px;
    margin-bottom: 15px;
    padding-left: 10px;
}

.catalog-filter li{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-filter a {
    display: block;
    margin-left: 35px;
    margin-right: 7px;
    color: #000000;
    text-decoration: none;
    opacity: 0.3;
}

.catalog-filter-list {
    border-bottom: 1px dotted #00ca74;
}

.catalog-filter-list:hover {
    border-bottom: 1px solid #00ca74;
    opacity: 1;
}

.catalog-filter-list:active {
    border-bottom: none;
    opacity: 1;
}


.filter-down {
    position: absolute;
    top: 2px;
    right: 16px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #c1c1c1;
    cursor: pointer;
}

.filter-down:active {
    border-top: 9px solid #000000;;
}

.filter-up {
    position: absolute;
    top: 3px;
    right: -1px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 9px solid #c1c1c1;
    cursor: pointer;
  }

.filter-up:active {
    border-bottom: 9px solid #000000;
}

.filter-down-active {
    border-top: 9px solid #00ca74;
}

.catalog-item {
    position: relative;
    float: left;
    width: 240px;
    height: 240px;
    margin-left: 10px;
    margin-right: 70px;
    margin-bottom: 80px;
    border-top: 30px solid #f1f1f1;
    border-radius: 5px;
}

.catalog-item:nth-child(even) {
    margin-right: 0px;
}

.catalog-item:hover {
    border-top: 30px solid #979797;
}

.catalog-item::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 13px;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 17px 0 0 #ffffff,34px 0 0 #ffffff;
}


.catalog-item-desc {
    display: none;
    position: absolute;
    width: 180px;
    height: 168px;
    margin: 20px;
    padding: 32px 10px 0 10px;
    top: 0;
    text-align: center;
    background: #ffffff;
}

.catalog-item:nth-child(4) .catalog-item-desc p {
    margin: 0 0 11px 0;
}

.catalog-item:nth-child(4) .catalog-item-desc h2 {
    margin: 0 0 5px 0;
}

.catalog-item-desc h2 {
    margin: 0 0 12px 0;
    font-size: 18px;
    line-height: 24px;
}

.catalog-item-desc p {
    margin: 0 0 28px 0;
    font-size: 14px;
    line-height: 18px;
}
.maket-name {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}



.catalog-item:hover .catalog-item-desc {
    display: block;
}
.catalog-page ul {
    padding: 0 0 0 10px;
    margin: 0;
}

.catalog-page li {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
}

.page-btn {
    display: inline-block;
    vertical-align: top;
    width: 38px;
    height: 28px;
    padding-top: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background: #f1f1f1;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
}

.catalog-page-active {
    padding-top: 8px;
    width: 38px;
    height: 38px;
    background: #ffffff;
    border: 2px solid #f1f1f1;
    box-sizing: border-box;
}


.catalog-page-next{
    width: 140px;
};

.page-btn:hover {
    background: #e5e5e5;
}

.page-btn:active {
    background: #d5d5d5;
    box-shadow: inset 0px 3px 0 0px #b5b5b5;
}

.catalog-page-active:active {
    background: none;
    box-shadow: none;
}

.map{
    position: relative;
    text-align: center;
    margin:0px auto 70px auto;
}

.map-wrapper {
    position: relative;
    margin-bottom: 77px;
}

#ya-map {
    width: 100%;
    height: 416px;
    z-index: 8;
    background: url("../img/map.jpg") top center;
    background-repeat: no-repeat;
}

.contacts {
    position: absolute;
    width: 230px;
    height: 230px;
    padding-top: 10px;
    padding-left: 20px;
    bottom: 89px;
    background: #ffffff;;
    text-align: left;
}

.contacts-title {
    font-size: 16px;
    line-height: 30px;
}

.contacts-info {
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.marker {
    position: absolute;
    margin-left: 680px;
    top: 112px;
    bottom: 115px;
    z-index: 2;
}


.logo-map {
    position: absolute;
    top: 0;
    margin-top: 55px;
    margin-left: 35px;
}

.footer {
    min-height: 146px;
}

.social {
    float: left;
    width: 260px;
    margin-right: 50px;
}

.social-btn {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 62px;
    height: 62px;
    margin-right: 24px;
    border-radius: 30px;
    background:  #e1e1e1;
}

.social-btn:hover {
    background: #fb565a;
}

.social-btn:active {
    background: #d6494d;
    box-shadow: inset 0px 3px 0 0px #9b2d30;
}

.social-btn:last-child {
    margin-right: 0px;
}

.btn-fb::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 16px;
    left: 16px;
    background: url("../img/sprites/spritesheet.png");
    background-position: 4px -203px;
}

.btn-vk::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 16px;
    left: 16px;
    background: url("../img/sprites/spritesheet.png");
    background-position: -3px -300px;
}

.btn-inst::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 16px;
    left: 16px;
    background: url("../img/sprites/spritesheet.png");
    background-position: 0px -234px;;
}

.footer-desc {
    float: right;
    width: 562px;
}

.footer-title {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.footer-text {
    font-size: 16px;
    font-weight: 22px;
    margin-top: 8px;
    color: #283136;
}
