body {
    min-width: 900px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    background: #ffffff;
}
h1 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;

}
h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: normal;
}

.main-header {
    min-height: 83px;
    position: relative;
    background: #eeeeee;

}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 140px;
    margin-right: 160px;
    margin-top: 27px;

}

.navigation {
    float: left;
    width: 460px;
    min-height: 83px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.navigation li {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
    vertical-align: top;
}

.navigation a {
    display: block;
    padding: 55px 23px 10px 23px;
    color: #000000;
    text-decoration: none;

}

.navigation a:hover {
    color: #fb565a;
}

.navigation a:active {
    color: #000000;
    opacity: 0.4;

}

.user-block {
    float: right;
    max-width: 140px;
    min-height: 83px;

}

.user-block a:hover {
    color: #fb565a;
}

.user-block a:active {
    color: #000000;
    opacity: 0.4;

}

.basket {
    position: relative;
    display: inline-block;
    padding: 55px 0px 10px 50px;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;

}

.basket::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 22px;
    width: 20px;
    height: 20px;
    background: url("img/icon-basket.png");

}

.slider {
    min-height: 350px;
    padding: 40px;
    background: #eeeeee;
}

.slider-promo {
    float: left;
    width: 400px;
    font-size: 16px;
    line-height: 22px;
}
.slider-img {
  float: right;

}


.services {
    margin-bottom: 80px;
    background: red;
    min-height: 380px;
}

.services-item {
    float:left;
    width: 240px;
    min-height: 300px;
    margin-top: 80px;
    margin-right: 80px;
    background: lightgray;
}
.services-item:last-child {
    float: right;
    width: 240px;
    margin-right: 0px;
}



.description {
    float: left;
    width: 620px;
    margin-right: 20px;
    margin-bottom: 50px;

}

.about-logo {
    float: right;
    width: 240px;
    margin-bottom: 50px;
}

.about {
    min-height: 375px;
    background: lightgreen;
}

.services-left {
    float: left;
    width: 620px;
    margin-right: 20px;

}

.services-right {
    float: right;
    width: 240px;
}

.clients {
    padding: 80px 0;
}

.clients-logo {
    float: left;
    height: 125px;
    width: 240px;
    margin-right: 80px;
    text-align: center;
    background: green;
    line-height: 125px;
}

.clients-logo img {
    vertical-align: middle;

}

.clients-logo:last-child {
    margin-right: 0px;

}

.wrapper-title {
    min-height: 245px;
    background: #eeeeee;
    margin-bottom: 80px;

}

.filter {
    float: left;
    width: 240px;

}

.catalog {
    float: right;
    width: 570px;
    background: lightgreen;
    margin-bottom: 80px;
}

.catalog-filter li{
    display: inline-block;
}

.catalog-item {
    position: relative;
    float: left;
    width: 240px;
    margin-left: 10px;
    margin-right: 70px;
    margin-bottom: 80px;

}

.catalog-item:nth-child(even) {
    margin-right: 0px;

}

.catalog-item-desc {
    position: absolute;
    width: 200px;
    height: 165px;
    margin: 20px;
    padding-top: 35px;
    top: -1px;
    text-align: center;
    background: #ffffff;
}

.catalog-page li {
    display: inline-block;

}

.map{
  position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.map-wrapper {
  position: relative;

}

.contacts {
    position: absolute;
    width: 230px;
    height: 220px;
    padding-top: 20px;
    padding-left: 20px;
    bottom: 89px;
    background: white;
    text-align: left;
}

.marker {
    position: absolute;
    margin-left: 680px;
    top: 112px;
    bottom: 115px;
}

.logo-map {
    position: absolute;
    top: 0;
    margin-top: 55px;
    margin-left: 35px;
}

.footer {
    min-height: 146px;

}

.social {
    float: left;
    width: 242px;
    margin-right: 68px;

}

.social-btn {
    float: left;
    width: 62px;
    margin-right: 27px;

}

.social-btn:last-child {
    margin-right: 0px;

}

.footer-desc {
    float: right;
    width: 570px;

}
