body {
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}
h1 {
    font-size: 20px;
    line-height: 20px;
    color: black;
    font-weight: normal;;
    font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 16px;
    line-height: 25px;
    color: black;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.main-header {
    min-height: 83px;

}
.container {
    width: 900px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo {
    float: left;
    width: 140px;
    margin-right: 100px;
    margin-top: 27px;

}

.navigation {
    float: left;
    width: 460px;
    min-height: 83px;

}

.navigation li {

}

.user-block {
    float: right;
    width: 100px;
    min-height: 83px;
}

.slider {
    min-height: 350px;
    background: lightyellow;
}

.slider-promo {
    float: left;
    width: 400px;
}
.slider-img {
  float: right;

}

.services {
    margin-bottom: 80px;
    background: red;
    min-height: 380px;
}

.services-item {
    float:left;
    width: 240px;
    min-height: 300px;
    margin-top: 80px;
    margin-right: 80px;
    background: lightgray;
}
.services-item:last-child {
  float: right;
  margin-right: 0px;
}



.description {
  float: left;
  width: 620px;
  margin-right: 20px;
  margin-bottom: 50px;

}

.about-logo {
    float: right;
    width: 240px;
    margin-bottom: 50px;
}

.about {
    min-height: 375px;
    background: lightgreen;
}

.services-left {
    float: left;
    width: 620px;
    margin-right: 20px;

}

.services-right {
    float: right;
    width: 240px;
}

.clients {
    width: auto;
    min-height: 170px;
    background: lightblue;
    margin-bottom: 85px;
}

.clients-logo {
    float: left;
    width: auto;
    margin-right: 125px;
    padding-left: 10px;
    padding-top: 55px;
}

.clients-logo:last-child {
    margin-right: 0px;

}

.map{
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.contacts {
    position: absolute;
    width: 250px;
    height: 240px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 90px;
    top: -1px;
    background: white;
    text-align: left;
}

.marker {
    position: absolute;
    top: -1px;
    margin-left: 680px;
    margin-top: 110px;
}

.logo-map {
  position: absolute;
    top: -1px;
    margin-top: 55px;
    margin-left: 35px;
}

.footer {
    min-height: 146px;

}

.social {
    float: left;
    margin-right: 80px;

}

.social-btn {
    float: left;
    margin-right: 27px;

}
