body {
    font-size: 15px;
    line-height: 20px;
    color: black;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}
h1 {
    font-size: 20px;
    line-height: 20px;
    color: black;
    font-weight: normal;;
    font-family: "Roboto", sans-serif;
}
h2 {
    font-size: 16px;
    line-height: 25px;
    color: black;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.main-header {
    min-height: 83px;

}
.container {
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    width: 140px;
    margin-right: 100px;
    margin-top: 27px;

}

.navigation {
    float: left;
    width: 460px;
    min-height: 83px;

}

.navigation li {
    display: inline-block;
}

.user-block {
    float: right;
    width: 100px;
    min-height: 83px;
}

.slider {
    min-height: 350px;
    background: lightyellow;
}

.slider-promo {
    float: left;
    width: 400px;
}
.slider-img {
  float: right;

}


.services {
    margin-bottom: 80px;
    background: red;
    min-height: 380px;
}

.services-item {
    float:left;
    width: 240px;
    min-height: 300px;
    margin-top: 80px;
    margin-right: 80px;
    background: lightgray;
}
.services-item:last-child {
    float: right;
    width: 240px;
    margin-right: 0px;
}



.description {
    float: left;
    width: 620px;
    margin-right: 20px;
    margin-bottom: 50px;

}

.about-logo {
    float: right;
    width: 240px;
    margin-bottom: 50px;
}

.about {
    min-height: 375px;
    background: lightgreen;
}

.services-left {
    float: left;
    width: 620px;
    margin-right: 20px;

}

.services-right {
    float: right;
    width: 240px;
}

.clients {
    min-height: 170px;
    background: lightblue;
    margin-bottom: 85px;
}

.clients-logo {
    float: left;
    width: 210px;
    margin-right: 105px;
    padding-left: 10px;
    padding-top: 55px;
    vertical-align: middle;
}

.clients-logo:last-child {
    margin-right: 0px;

}

.wrapper-title {
    min-height: 245px;
    background: #eeeeee;
    margin-bottom: 80px;

}

.filter {
    float: left;
    width: 240px;

}

.catalog {
    float: right;
    width: 570px;
    background: lightgreen;
}

.catalog-filter li{
    display: inline-block;
}

.catalog-item {
    position: relative;
    float: left;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 80px;

}

.catalog-item:nth-child(even) {
    margin-right: 0px;

}

.catalog-item-desc {
    display: non;
    position: absolute;
    width: 200px;
    height: 165px;
    margin: 20px;
    padding-top: 35px;
    top: -1px;
    text-align: center;
    background: #ffffff;
}

.catalog-page li {
    display: inline-block;

}

.map{
    position: relative;
    text-align: center;
    margin-bottom: 70px;
}

.contacts {
    position: absolute;
    width: 250px;
    height: 240px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 90px;
    top: -1px;
    background: white;
    text-align: left;
}

.marker {
    position: absolute;
    top: -1px;
    margin-left: 680px;
    margin-top: 110px;
}

.logo-map {
  position: absolute;
    top: -1px;
    margin-top: 55px;
    margin-left: 35px;
}

.footer {
    min-height: 146px;

}

.social {
    float: left;
    width: 242px;
    margin-right: 68px;

}

.social-btn {
    float: left;
    width: 62px;
    margin-right: 27px;

}

.social-btn:last-child {
    margin-right: 0px;

}

.footer-desc {
    float: left;;
    width: 570px;

}
